apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: redis-demo
  template:
    metadata:
      labels:
        app: redis-demo
    spec:
      containers:
      - name: app
        image: docker.io/tarunarcot/redis-demo:1.1
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: QUARKUS_REDIS_HOSTS
          value: redis://redis:6379
        readinessProbe:
          httpGet:
            path: /q/health/ready
            port: 8080
          initialDelaySeconds: 120
          periodSeconds: 15
          timeoutSeconds: 5
          failureThreshold: 10

        livenessProbe:
          httpGet:
            path: /q/health/live
            port: 8080
          initialDelaySeconds: 180
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 10
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "300Mi"
