apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: redis-demo
  template:
    metadata:
      labels:
        app: redis-demo
    spec:
      containers:
      - name: app
        image: docker.io/tarunarcot/redis-demo:1.0
        ports:
        - containerPort: 8080
        env:
        - name: QUARKUS_REDIS_HOSTS
          value: redis://redis:6379
        readinessProbe:
          httpGet:
            path: /q/health/ready
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 10  
        livenessProbe:
          httpGet:
            path: /q/health/live
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20
        resources:
          limits:
            memory: "300Mi"
            cpu: "256m"
          requests:
            memory: "128Mi"
            cpu: "100m"