apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: quarkus-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Tarun-Kumar-Arcot/quarkus-gitops
    targetRevision: main
    path: k8s
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: quarkus-gitops
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
